body {
  background-color: #234;
  color: #eee;
  font-family: Palatino, URW Palladio L, serif; 
  margin: 10% 15%;
}

.CSSgrid{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr
}

.CSSgrid > div{
  text-align: center;
  text-transform: uppercase;
  padding:1em;
}

.CSSgrid > div:nth-child(odd){
  background:#ddd;
  color: black;
}

.summary{
  text-align: justify;
  padding:1em;
}

.tagline-header {
  text-align: center;
  text-transform:uppercase;
  background-color: rgba(1,1,0.5)
}

.experience-header {
  text-align: center;
  text-transform: uppercase;
  color: red;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}

.Mayvin {
  text-align: justify;
}

.USAF-Summary {
  text-align: justify;
}

.education-header {
  text-align: center;
  text-transform: uppercase;
  color: red;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}

.DASSAULT {
  text-align: center;
}

.SCRUM {
  text-align: center;
}

.COLORADO {
  text-align: center;
}

.ARIZONA {
  text-align: center;
}

.JWST {
  text-align: center;
}

.link {
  text-align: center;
  background-color: white;
}
